:root {
  /* --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
   */

  --font-chinese: KaiTi, DengXian, "Microsoft YaHei", "Sim Sun", sans-serif;

  --color-primary100: #b3c4cb;
  --color-primary200: #668898;
  --color-primary300: #336175;
  --color-primary400: #1a4d64;
  --color-primary500: #003953;
  --color-primary600: #00334b;
  --color-primary700: #002e42;
  --color-primary800: #002232;
  --color-primary900: #000b11;

  --color-secondary100: #fef5f8;
  --color-secondary200: #fef0f5;
  --color-secondary300: #fee6ee;
  --color-secondary400: #fde1eb;
  --color-secondary500: #fddce7;
  --color-secondary600: #fdd7e4;
  --color-secondary700: #fcd2e0;
  --color-secondary800: #fccddd;
  --color-secondary900: #e3b9c7;

  --color-tertiary0: #ffffff;
  --color-tertiary50: #f9fafb;
  --color-tertiary100: #f3f4f6;
  --color-tertiary200: #e5e7eb;
  --color-tertiary300: #d1d5db;
  --color-tertiary400: #9ca3af;
  --color-tertiary500: #6b7280;
  --color-tertiary600: #4b5563;
  --color-tertiary700: #374151;
  --color-tertiary800: #1f2937;
  --color-tertiary900: #111827;

  --background-default: var(--color-secondary100);
}

@media (prefers-color-scheme: dark) {
  :root {
    /*--foreground-rgb: 255, 255, 255;*/
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  /* 10px */
  font-size: 62.5%;
}

body {
  /* 16px */
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
